:root {
  --color-primary-white: #f5f9ff;
  --color-primary-base: #e4e4e4;
  --color-pimary-gray: #6f7788;
  --color-primary-green: #1c623a;
  --color-primary-yellow: #dca11d;
  --color-primary-pink: #d75951;
  --color-primary-brow: #683e00;
  --color-blou-block: #1d2939;
  --color-blou-white: #3a4980;
  --color-blou-lite: #0d3356;
  --color-blou: #0d3356;
  --text-12: 12px;
  --text-14: 14px;
  --text-16: 16px;
  --text-18: 18px;
  --text-20: 20px;
  --text-24: 24px;
  --text-28: 28px
  --text-32: 32px;
  --text-34: 34px;
  --text-36: 36px;
  --text-44: 44px;
  --text-54: 54px;
  --rounded-8: 8px;
  --rounded-12: 12px;
  --rounded-20: 20px;
 --rounded-10:10px;
  --rounded-full: 99px;
}
* *::after *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:focus {
  border: 1px solid var(--color-blou);
}
body {
  font-family: "Inter", sans-serif;
}
.backgrand{
  background-color: #ffff;
}
.FashionHub-logo img {
  width: 232px;
  height: 40px;
}
.user1 {
  width: 48px;
  height: 48px;
  border-radius: var(--rounded-full);
  background: none;

  border: none;
  object-fit: cover;
  object-position: center;
}
.FashionHub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}
.FashionHub-ful {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.FashionHub-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
.FashionHub-btn {
  display: flex;
  align-items: center;
  gap: 18px;
}
.texts {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.FashionHub-nav a {
  color: var(--color-blou);
  font-size: var(--text-16);
  font-weight: 500;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: var(--rounded-8);
}
.FashionHub-nav a:hover {
  background-color: var(--color-pimary-gray);
}
.btn-header {
  width: 48px;
  height: 48px;
  border-radius: var(--rounded-full);
  border: none;
  display: grid;
  place-content: center;
}
.btn-bag {
  background-color: rgb(104, 62, 0, 10%);
}
.btn-notif {
  background-color: rgb(13, 51, 86, 10%);
}
.texts span {
  color: var(--color-pimary-gray);
  font-size: var(--text-12);
  font-weight: 400;
}
.texts h2 {
  color: var(--color-blou);
  font-size: var(--text-16);
  font-weight: 700;
  margin: 0;
}
.product-1 img {
  border-radius: 16px;
  width: 600px;
  height: 730px;
  object-fit: fill;
}
.products img {
  border-radius: 14px;
  width: 135px;
  height: 135px;
}
.hero {
  padding: 40px 80px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 80px;
}
}
.hero-imgs {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.products {
  display: flex;
  align-items: center;
  flex-direction: revert-layer;
  gap: 18px;
}
.home{display: flex;
  gap: 12px;
  align-items: center;
background-color: rgb(58,73,128,10%);
padding: 8px 12px;
border-radius: var(--rounded-8);
color: var(--color-pimary-gray);}
.home span:hover{
    color: var(--color-blou-lite);
}
.Coast{display: flex;
  gap: 112px;
  align-items: center;
  border-bottom:2px solid var(--color-pimary-gray);
  padding: 32px 0px;

}
.Coast-Dress h1{
  color: var(--color-blou-block);
  font-size: var(--text-28);
  font-weight: 700;
}
.Coast-Dress p{
  width: 280px;
  font-size: var(--text-16);
  color: var(--color-pimary-gray);
  font-weight: 300;
  display: flex;
  gap: 12px;
}
.btn-like{
  background-color:rgb(104, 62, 0, 10%) ;
  border: none;
  border-radius: var(--rounded-10);
  display: flex;
  align-items: center;

}
.btn-arshive{
  background-color:rgb(13, 51, 86, 10%) ;
  border: none;
  border-radius: var(--rounded-10);
}
.btn-share{
  background-color: rgb(13, 51, 86, 10%);
  border: none;
  border-radius: var(--rounded-10);
}
.Coast-Dress:focus{
  color: var(--color-blou);
  width: 280px;
  height: 19px;
    border: 1px solid var(--color-blou);
    padding: 8px 10px;
}
.FashionHub {
  border-bottom: 1px solid var(--color-pimary-gray);
}
.Coast-Dress2{display: flex;
  gap: 12px;
}
.product-info{
  display: flex;
  gap: 40px;
  align-items: start;
 padding: 32px 0px;
   border-bottom: 2px solid var(--color-pimary-gray);
}

.product-price{
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.view{display: flex;
  flex-direction: column;
  gap: 6px;}
.btn-star-notif {display: flex;
  gap: 12px;
}
.product-price ins{
  color: var(--color-blou-white);
  font-size: 32px;
  text-decoration: none;
  font-weight: 700;
}
.product-price s{
  color: var(--color-pimary-gray);
  font-family: var(--text-20);
  font-weight: 400;

}
.star-btn {
  background-color: rgb(220, 161,29,10%);
  border: none;
  border-radius: 99px;
  display: flex;
  align-content: center;
  gap: 6px;
  padding: 8px 12px;
}
.star-btn img{
  width: 16px;
  height: 16px;
  align-content: center;
}
.star-btn span{
  color: var(--color-primary-yellow);
  font-size: var(--text-14);
  font-weight: 500;
}
.react-btn{
  background-color:rgb(13, 51, 86, 10%);
  border: none;
  border-radius: var(--rounded-full);
 
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
 
}
.view p{
  color: var(--color-pimary-gray);
  font-size: var(--text-14);
  line-height: auto;
}
.view dfn{
  color: var(--color-primary-green);
  font-size: var(--text-14);
  font-weight: 600;
}
.choose-coller p {
  color: var(--color-pimary-gray);
  font-size: var(--text-16);
  font-weight: 500;
}
.choose-coller{

}
.colors{
  display: flex;
  gap: 12px;
  cursor: pointer;
}
.cream{
  width: 65px;
  height: 65px;
  border-radius: var(--rounded-full);
  background: #ECDECC;
}
.green{
  background:#BBD278;
  width: 65px;
  height: 65px;
  border-radius: var(--rounded-full);
}
.blue{
   width: 65px;
  height: 65px;
  border-radius: var(--rounded-full);
  background: #BBC1F8;
}
.pink{
   width: 65px;
  height: 65px;
  border-radius: var(--rounded-full);
  background: #FFAAD9;
}
.oliv{
   width: 65px;
  height: 65px;
  border-radius: var(--rounded-full);
  background: #98C185;
}
.coral{
   width: 65px;
  height: 65px;
  border-radius: var(--rounded-full);
  background: #FFB6B6;
}
.cream:active{
  border: 3px solid #ECDECC;
  outline: 2px solid white;
}
.color:active{
border: 2px solid  #ddd;
}
.choose-coller{
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  border-bottom: 2px solid var(--color-pimary-gray);
}
.size-circle{
  width: 16px;
  height: 16px;
  border: 2px;
}
.size-circle{
  width: 16px;
  height: 16px;
  border-radius: var(--rounded-full);
  border: 2px solid var(--color-pimary-gray);
  display: block;
}
.sizes{
  display: flex;
  gap: 12px;

}
.size{
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  background-color: rgb(111, 119, 136,10%);
  border-radius: 8px;
  padding: 10px 8px;
  white-space: nowrap;
}
.choose-size{
  padding: 32px 0px;
  border-bottom: 2px solid var(--color-pimary-gray);
}
.choose-size p{
  color: var(--color-pimary-gray);
  font-size: var(--text-16);
  font-weight: 500;
}
.size-circle:active{
  border: 2px solid var(--color-blou-white);
  width: 18px;
  height: 18px;
  border-radius: var(--rounded-full);
  background-color: var(--color-blou-white);
}
.slectcart-btn{
  background-color: rgb(58, 73, 128,10%);
  padding: 16px 18px;
  display: flex;
  align-items: center;
  gap: 18px;
border-radius: var(--rounded-full);
cursor: pointer;
border: none;
}
.cart{display: flex;
  gap: 20px;
  padding: 32px 0px;}
  
  
.slectcart-btn span{
font-size: var(--text-18);
font-weight: 600;
color: var(--color-blou-white);
}
.bagcart-btn{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 28px;
  border: none;
  border-radius: var(--rounded-full);
  color: white;
  font-size: 18px;
  font-weight: 500;
  background-color: var(--color-blou-white);
  cursor: pointer;
}
.hero-imgs{
  display: grid;
  gap: 32px;
}
.delivery-box{
  border: 1px solid var(--color-pimary-gray);
  border-radius: 14px;
}
.delivery-item{
  display: flex;
  align-items: center;
  gap:12px
}
.delivery-text p{
  margin-top: -10px;
}
.delivery-text + .delivery-text{
  
  border-top:1px solid var(--color-pimary-gray) ;
}
.delivery-text h3{
  font-size: var(--text-18);
  font-weight: 700;
  color: var(--color-blou-lite);
}
.delivery-text p{
  font-size: var(--text-14);
  font-weight: 400;
  color: var(--color-pimary-gray);
}
.review-img img{
  width: 48px;
  height: 48px;
  border-radius: var(--rounded-full);
}
.review-hedear{
  display: flex;
  gap: 20px;

  
}
.review-star h3{
  font-size: var(--text-16);
  font-weight: 500;
  color: var(--color-blou-block);
}
 .review-star span{
  font-size: var(--text-12);
  color: var(--color-pimary-gray);
  font-weight: 400;
 }
 .review-text h4{
  font-size: var(--text-16);
  font-weight: 500;
  color: var(--color-pimary-gray);
 }
.review-text p{
  font-size: var(--text-14);
  font-weight: 400;
  color: var(--color-pimary-gray);
width: 768px;
}
.like-btn{
  color: var(--color-pimary-gray);
  background: none;
  border: none;
}
.replay-btn{
  background: none;
  border: none;
  color: var(--color-primary-pink);
}
.like-btn:active{
  background-color:  rgb(58,73,128,10%);
  border-radius: 6px;
  cursor: pointer;
}
.replay-btn:active{
  background-color: rgb(220, 161,29,10%) ;
  border-radius: 6px;
  cursor: pointer;
}
.review{
  display: flex;
  flex-direction: column;
  gap: 64px;
}

hr{
  border: 2px solid var(--color-pimary-gray);
}
.Reviews{
  padding: 40px 80px;
}
.Review-Title{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
label{
  color: var(--color-blou-block);
  font-size: var(--text-16);
  font-weight: 500;
}
textarea{
  color: var(--color-pimary-gray);
  font-size: var(--text-14);
  font-weight: 400;
  padding: 16px 24px;
  width: 836px;
  border-radius: 14px;
  border: 1px  solid var(--color-pimary-gray);
  overflow: visible;
  white-space: wrap;
}
.Write h2{
  font-size: var(--text-28);
  font-weight: 600;
  color: var(--color-blou-block);}
  .Review-Content{
    display: flex;
  flex-direction: column;
  gap: 8px;
  }
  .Write{
    padding: 40px 80px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  }
  .great{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .content{
    height: 256px;
  }